.app {
  display: flex;
}

.content {
  position: relative;
  background-color: var(--color-bg-gray);
  flex: 1;
  padding: 24px;
  height: 100vh;
  overflow-y: auto;
}

.map_container {
  border-radius: var(--radius-primary);
  overflow: hidden;
}
